# Metody pozyskiwania wiedzy z danych - projekt zaliczeniowy

Narzędzie pozwalające użytkownikowi na estymację ceny mieszkania w zależności od podanych parametrów.

Skład zespołu: 
- Zapalski, 
- Szkatuła, 
- Pietrzyk, 
- Śmiałowski

## To do:
- opis zestawu danych i jego źródła
- analiza eksploracyjna zestawu danych (info o zmiennych, statystki opisowe, rozkłady, korelacje, .... )
- analiza wizualna (przedstawienie danych w formie wizualnej, przeprowadzenie analiz zależności pomiędzy zmiennymi, heatmapy z najczęstszymi miejscami, ... )
- ocztszczenie danych (outliery, NA itd. )
- pierwszy model
- feature enginering
- zastosowanie różnych typów modeli (?)
- hyperparameters tuning na najlepszym modelu
- stworzenie coś na wzór UX w noteboooku

## Notes:
- zrobić coś na wzór UI dla użytkownika końcowego (może być jako suwaczki w jupyterze albo API)
- lista dzielnic i miast, feature enginering na zmiennej adres tak zeby wyciagnac dzielnice
- analiza danych, statystki opisowe, wykresy i mapki

## Code

In [31]:
import pandas as pd
import matplotlib as plt
import numpy as np

from sklearn.metrics import mean_squared_error, r2_score

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

from sklearn.tree import DecisionTreeRegressor
import catboost as ctb

In [32]:
!pwd

/Users/mikolaj/Desktop/2 semestr/wiedza-dane/!projekt

In [33]:
df = pd.read_csv("data/Houses.csv", encoding='latin-1',index_col=0)
df.head()

,address,city,floor,id,latitude,longitude,price,rooms,sq,year
0,Podgórze Zab³ocie Stanis³awa Klimeckiego,Kraków,2.0,23918.0,50.049224,19.970379,749000.0,3.0,74.05,2021.0
1,Praga-Po³udnie Grochowska,Warszawa,3.0,17828.0,52.249775,21.106886,240548.0,1.0,24.38,2021.0
2,Krowodrza Czarnowiejska,Kraków,2.0,22784.0,50.066964,19.920025,427000.0,2.0,37.00,1970.0
3,Grunwald,Poznañ,2.0,4315.0,52.404212,16.882542,1290000.0,5.0,166.00,1935.0
4,Ochota Gotowy budynek. Stan deweloperski. Osta...,Warszawa,1.0,11770.0,52.212225,20.972630,996000.0,5.0,105.00,2020.0

# Feature engineering - dzielnice

In [34]:
df.sample(40)

,address,city,floor,id,latitude,longitude,price,rooms,sq,year
7872,Grzegórzki Kazimierza Kordylewskiego,Kraków,2.0,24700.0,50.060336,19.962316,629000.00,2.0,47.13,2009.0
5859,Wzgórza Krzes³awickie ul.Gustawa Morcinka,Kraków,0.0,26734.0,50.104781,20.036274,382168.00,3.0,61.64,2022.0
5173,Krowodrza ul. Pr¹dnicka,Kraków,2.0,18609.0,50.088279,19.938923,639000.00,2.0,57.70,1939.0
13163,Bia³o³êka,Warszawa,3.0,15706.0,52.319665,21.021177,342000.00,1.0,34.20,2004.0
18036,Podgórze Ignacego Krasickiego,Kraków,3.0,22049.0,50.039075,19.939064,389000.00,2.0,38.09,1970.0
2534,Rembertów Odbierz klucze szybko>> Wysoki stand...,Warszawa,5.0,8454.0,52.261415,21.162819,449901.00,4.0,66.07,2021.0
11621,Grunwald Jeleniogórska 1/3,Poznañ,4.0,5616.0,52.404212,16.882542,401354.00,2.0,54.98,2021.0
18339,Mokotów,Warszawa,4.0,15651.0,52.193987,21.045781,540000.00,2.0,50.00,1978.0
8786,Stare Miasto Pi¹tkowo ul. Królewska,Poznañ,2.0,1624.0,52.458891,16.900072,365000.00,2.0,44.10,2001.0
4517,Nowe Miasto Polanka 2,Poznañ,4.0,4704.0,52.399759,16.954660,710446.00,4.0,82.61,2020.0
8285,Wola ul. ¯ytnia,Warszawa,7.0,12477.0,52.239441,20.974567,480000.00,2.0,50.50,1958.0
16250,Bia³o³êka Leona Berensona,Warszawa,2.0,10685.0,52.324624,21.054760,312524.50,2.0,36.13,2020.0
10508,Bia³o³êka Nowodwory,Warszawa,2.0,17723.0,52.351230,20.944489,420000.00,2.0,40.00,2003.0
2270,Praga-Po³udnie Saska Kêpa,Warszawa,6.0,13125.0,52.232803,21.054660,2280000.00,6.0,176.00,2004.0
8760,Bielany ul. Rudzka 5,Warszawa,5.0,7635.0,52.278512,20.973437,529400.00,2.0,42.45,2021.0
19624,Bia³o³êka Bia³o³êcka,Warszawa,1.0,14885.0,52.326245,21.031811,789000.00,4.0,130.00,2020.0
16788,Bia³o³êka Tarchomin,Warszawa,3.0,11249.0,52.320693,20.970834,850000.00,4.0,127.20,2001.0
7625,ródmiecie Stare Miasto Nowy wiat,Warszawa,4.0,18183.0,52.231958,21.006725,2811950.00,4.0,140.00,1900.0
9317,Podgórze Stanis³awa Klimeckiego,Kraków,2.0,18776.0,50.049224,19.970379,649000.00,3.0,67.55,2021.0
10897,Je¿yce ul. Miko³aja Reja 5,Poznañ,4.0,83.0,52.410168,16.907776,699000.00,4.0,115.20,1938.0
64,Pr¹dnik Czerwony ul. Celarowska,Kraków,2.0,20837.0,50.081864,19.954649,349000.00,2.0,37.06,1980.0
16454,Podgórze ul. Koszykarska,Kraków,2.0,22174.0,50.049893,19.990603,500683.00,3.0,49.00,2021.0
22131,Nowe Miasto Rataje ul. Milczañska,Poznañ,0.0,539.0,52.397023,16.962061,460400.00,3.0,56.31,2021.0
22723,Bie¿anów-Prokocim Bie¿anów Mariana Domaga³y,Kraków,4.0,23455.0,50.033059,20.051065,268637.00,2.0,36.00,2021.0
217,Grunwald Górczyn ul. Romana Dmowskiego,Poznañ,3.0,5460.0,52.381799,16.891639,418900.00,2.0,59.79,2021.0
4299,Pr¹dnik Bia³y Adama Marczyñskiego,Kraków,1.0,29335.0,50.099795,19.958007,499000.00,2.0,54.00,2008.0
18604,Podgórze Duchackie Kurdwanów ul. Marii i Boles...,Kraków,3.0,18477.0,50.007746,19.962778,499000.00,3.0,56.25,2006.0
16446,Wilda,Poznañ,1.0,2243.0,52.389775,16.917438,185000.00,1.0,26.05,1890.0
7437,Bielany,Warszawa,1.0,17489.0,52.277613,20.947205,854000.00,3.0,72.00,2020.0
7447,Dêbniki ul. Topografów,Kraków,1.0,26897.0,49.985531,19.874617,475000.00,4.0,75.00,2013.0
20490,Podgórze Duchackie Adama Bochenka,Kraków,1.0,20230.0,50.012719,19.977524,569000.00,4.0,60.00,2018.0
20233,Nowe Miasto Chartowo os. Czecha,Poznañ,8.0,526.0,52.385010,16.980259,470000.00,3.0,78.00,1978.0
10921,Dêbniki Stare Dêbniki,Kraków,2.0,26221.0,50.051861,19.927037,1290000.00,3.0,96.00,1912.0
3209,Je¿yce,Poznañ,1.0,2764.0,52.413045,16.902212,634671.00,3.0,65.00,2020.0
3689,W³ochy ks. Juliana Chrocickiego 83,Warszawa,3.0,17183.0,52.231958,21.006725,1060000.00,5.0,116.00,2009.0
1083,Nowe Miasto Malta ul. Katowicka,Poznañ,4.0,5850.0,52.397345,16.961939,429887.50,3.0,49.13,2022.0
17401,Wilanów,Warszawa,1.0,7275.0,52.153083,21.110441,758000.00,3.0,59.15,2015.0
1328,Praga-Po³udnie Miêdzyborska,Warszawa,5.0,8744.0,52.241840,21.077131,440000.00,2.0,39.00,2003.0
14693,Dêbniki Kliny-Zacisze bpa. A. Ma³ysiaka,Kraków,2.0,29807.0,49.998832,19.893878,435500.00,4.0,65.00,2021.0
18086,Je¿yce ul. Stanis³awa Szczepanowskiego,Poznañ,2.0,1030.0,52.418853,16.897682,546806.25,3.0,71.27,2021.0

Możemy zauważyć, że w kolumnie *address* każda obserwacja zaczyna się od nazwy dzielnicy.

To, że nazwy są źle zakodowane nas nie intereseuje, model i tak będzie widział to jako osobne liczby.

Problemem może okazać się rozróżnienie podobych nazw dzielnic np. Wola w Warszawie i Wola Duchacka w Krakowie oraz różna liczba słów w nazwie dzielnicy (Śródmieście - 1 , Stare Miasto - 2 itd. )

In [35]:
df["address"].value_counts()[:30]

Mokotów                                   426
Wola                                      384
Nowe Miasto Malta ul. Katowicka           377
ródmiecie                               352
Bia³o³êka                                 248
Mistrzejowice ul. Piasta Ko³odzieja       224
Mistrzejowice                             221
Praga-Po³udnie                            216
Bemowo                                    204
Stare Miasto Naramowice ul. Czarnucha     199
Praga-Po³udnie Goc³aw                     193
Podgórze                                  191
Nowe Miasto Rataje                        181
Grzegórzki                                178
Stare Miasto                              178
Ursynów                                   174
Pr¹dnik Bia³y                             174
Ochota                                    159
Nowa Huta Czy¿yny Nowohucka 46            142
Krowodrza                                 142
Podgórze ul. Stanis³awa Klimeckiego       138
Mokotów ul. Domaniewska 34B               136
Stare Miasto Naramowice                   130
Bielany                                   130
Targówek                                  130
Grunwald Jeleniogórska 1/3                129
Grunwald                                  119
Dêbniki                                   118
Grzegórzki ul. Fabryczna                  114
Podgórze Duchackie ul. Walerego S³awka    114
Name: address, dtype: int64

wyciągnięcie np. top20 pod względem częstości występowania nie rozwiąże problemu, nowe osiedla podawane z ulica (Mistrzejowice ul. Piasta Ko³odzieja) ze sporą ilością ofert zawyżają tą listę

Możliwe rozwiązania:

    -skonstruowanie słownika z nazwami dzielnic oraz poprawienie danych, tak aby wyświetlały się poprawnie (formatowanie
    -ewentualnie ręczne poprawienie każdego rekordu

In [36]:
wwa= ["Bemowo",
"Białołęka",
"Bielany",
"Mokotów",
"Ochota",
"Praga Południe",
"Praga Północ",
"Rembertów",
"Śródmieście",
"Targówek",
"Ursus",
"Ursynów",
"Wawer",
"Wesoła",
"Wilanów",
"Włochy",
"Wola",
"Żoliborz"]
wwa

['Bemowo',
 'Białołęka',
 'Bielany',
 'Mokotów',
 'Ochota',
 'Praga Południe',
 'Praga Północ',
 'Rembertów',
 'Śródmieście',
 'Targówek',
 'Ursus',
 'Ursynów',
 'Wawer',
 'Wesoła',
 'Wilanów',
 'Włochy',
 'Wola',
 'Żoliborz']

# Model

In [37]:
# wybranie zmiennych jakościowych
obj_feats = list(df.select_dtypes(np.object).columns)

# zamiana ich na liczby
for feat in obj_feats:
    df["{}_cat".format(feat)] = df[feat].factorize()[0]

black_list = ["address", "city"]

feats = df.select_dtypes(include=[np.number, np.bool]).columns
feats = [x for x in feats if x not in black_list]

X = df[feats].to_numpy()
y = df["price"].to_numpy()

# podział na train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [38]:
model = ctb.CatBoostRegressor(verbose=False)
#cross_val_score(model, X_train, y_train, cv=3, scoring='r2')

In [39]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [40]:
df["price"].median()

520000.0

In [41]:
print ( r2_score(y_test, y_pred), mean_squared_error(y_test, y_pred, squared=False) )

0.9586013646209987 104678.97093596107

# Test auto-ml

In [42]:
## Scores

## Catboost - no parameters - 0.932 r2 - 147359 mse